# Byte-compiled / cache
__pycache__/
**/__pycache__/
*.py[cod]
*.pyc
*.pyo

# Virtual envs
.env
.venv
venv/
ENV/
env/

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db